<h1> Links </h1>

<% @links.each do |link| %> 
  <p>  <%= link.title %> - <%= link.url %> -  <%= link.tags.map(&:tag).join(', ')  %> </p>
  <form action='/<%=link.title%>/update'> 
          <button id="<%= link.title %>" type='submit'>add tag</button></form>
<% end %>
